# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# --- dbt ---
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# --- Database & Logs ---
logs/*.log
*.sqlite
.pgdata/

# --- IDE (PyCharm / VS Code) ---
.idea/
.vscode/
*.swp
*.swo

# --- OS ---
.DS_Store
Thumbs.db

# --- Data (Si tes CSV sont lourds) ---
data/*.csv
data/*.zip